button{
    margin: 0;
    background: yellow;
    margin-top: 30px;
}

*{
    background-color: black;
}

img{
    margin-top: 30px;
}

.on{
    color:rgb(240, 240, 91);
    text-shadow: 2px 2px 8px #FFFF00;
    margin-top: 20px;
}

.off{
    color: whitesmoke;
    text-shadow: 2px 2px 8px #00FFFF;
    margin-top: 20px;
}