button{
    margin: 0;
    background: yellow;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

*{
    background-color: black;
}

img{
    margin-top: 5%;
}

.on{
    color:yellow;
}

.off{
    color: whitesmoke;
}